@import url("./normalize.css");

:root{
  --section-border: #e9e9e9;
  --base-font:#5C5C5C;
  --base-red: #F67071;
  --base-grey: #c3c3c3;
  --hover-grey: 	#F5F5F5;
  --slider-track: #efefef;
  --slider-inner: #1c1c1c;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--base-font)
}

.flex-align-center{
  display:flex;
  align-items: center;
}
